<!--<a href="{{ path('login') }}">Login</a>-->
        <script type="text/javascript" src=" {{ asset('/bundles/niftythriftyshop/js/UserLogin.js') }}"></script>
<a href="#" id="login_fake">Login</a> | 
<a href="#" id="register_fake">Register</a>

